.ups-external{
    border: 1px solid #e0e0e0;
    margin-top:20px ;
    padding: 10px;
    border-radius: 12px;
}

.ups-head{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.show-more{
    justify-content: center;
}
.show-more>button{
    font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   color: #ff5151;
   width: 100%;
   border: none;
}
.p-head>h4 , .ot-head>h4{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #686868;
}