
#root
{
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}
.app-external{
  display: flex;
  flex-direction: row;
 /* overflow: hidden; */
}
.app-internal{
  margin-left: 1.5vw;
  margin-right: auto;
}
